@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', system-ui;
  background-color: rgb(19, 19, 19);
  display: flex;
  height: 100vh;
  width: 100%;
  color: white;
  font-size: small;
}

button {
  min-height: 3vh;
  font-size: small;
  background-color: rgb(65, 65, 65);
  color: white;
  border: none;
  width: 100%;
}

button:enabled:hover {
  background-color: rgb(103, 103, 103);
}

button:disabled {
  background-color: rgb(19, 19, 19);
  border: thin solid white;
}

input::file-selector-button {
  background-color: rgb(65, 65, 65);
  color: white;
  border: none;
  font-size: small;
  min-height: 3vh;
}

input:enabled:hover::file-selector-button {
  background-color: rgb(103, 103, 103);
}

input:disabled::file-selector-button {
  background-color: rgb(19, 19, 19);
  border: thin solid white;
}

select {
  background-color: rgb(65, 65, 65);
  min-height: 3vh;
  color: white;
  width: 100%;
  text-align: center;
  font-size: small;
}

select:enabled:hover {
  background-color: rgb(103, 103, 103);
}

select:disabled {
  color: 'white';
  background-color: rgb(19, 19, 19);
  border: thin solid white;
}

.select-button:disabled {
  border: none;
}

#map canvas {
  cursor: crosshair;
}
